<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Don't Whats</title>
  <script src="https://unpkg.com/vue-router"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.1/vue-resource.min.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" autofocus v-model="newMessage.content" @keyup.enter="postMessage()">
    <button type="button" @click="postMessage()">Enviar</button>
    <button type="button" @click="getMessages()">Atualizar</button>
    <p v-for="message in messages">
      <b>{{ message.author }}:</b> {{ message.content }}
    </p>
  </div>
  <script>
  new Vue({
    el: '#app',
    data: {
      chat: null,
      messages: null,
      newMessage: {
        chat: null,
        author: 'Visitante',
        content: ''
      }
    },
    methods: {
      postMessage: function () {
        this.$http.post('/api/messages', { message: this.newMessage })
          .then(function () {
            this.messages.push(Object.assign({}, this.newMessage))
            this.newMessage.content = ''
          });
      },
      getMessages: function () {
        this.$http.get(`/api/messages/${this.chat}`)
          .then(function (response) {
            this.messages = response.body;
          });
      }
    },
    mounted: function () {
      this.chat = window.location.pathname.replace('/', '')
      this.newMessage.chat = this.chat
      this.getMessages()
    }
  });
  </script>
</body>
</html>